{
  "presets": ["env"],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    ["transform-class-properties", { "spec": true }]
  ]
}
